
/.venv
/helpers/wsle_jargon
utterlyvoice-1.09/config/modes/advanced.yaml
utterlyvoice-1.09/config/modes/basic.yaml
utterlyvoice-1.09/config/modes/browser-navigate.yaml
utterlyvoice-1.09/config/modes/chrome.yaml
utterlyvoice-1.09/config/modes/emacs.yaml
utterlyvoice-1.09/config/modes/global.yaml
utterlyvoice-1.09/config/modes/gmail-default.yaml
utterlyvoice-1.09/config/modes/gmail-modified.yaml
utterlyvoice-1.09/config/modes/go.yaml
utterlyvoice-1.09/config/modes/google-document.yaml
utterlyvoice-1.09/config/modes/inkscape.yaml
utterlyvoice-1.09/config/modes/jargon.yaml
utterlyvoice-1.09/config/modes/mouse-grid.yaml
utterlyvoice-1.09/config/modes/mouse-pixels.yaml
utterlyvoice-1.09/config/modes/mouse-screen.yaml
utterlyvoice-1.09/config/modes/notepad-plus-plus.yaml
utterlyvoice-1.09/config/modes/notepad.yaml
utterlyvoice-1.09/config/modes/pause.yaml
utterlyvoice-1.09/config/modes/talon.yaml
utterlyvoice-1.09/config/modes/vector-graphics.yaml
utterlyvoice-1.09/config/modes/web-code.yaml
utterlyvoice-1.09/config/modes/window-selection.yaml
utterlyvoice-1.09/config/modes/windows.yaml
utterlyvoice-1.09/config/numbers.yaml
/utterlyvoice-1.09/help
/utterlyvoice-1.09/images
utterlyvoice-1.09/libgcc_s_seh-1.dll
utterlyvoice-1.09/libgfortran-5.dll
utterlyvoice-1.09/libgomp-1.dll
utterlyvoice-1.09/libopenblas.dll
utterlyvoice-1.09/libportaudio.dll
utterlyvoice-1.09/libquadmath-0.dll
utterlyvoice-1.09/libstdc++-6.dll
utterlyvoice-1.09/libvosk.dll
utterlyvoice-1.09/libwhisper.dll
utterlyvoice-1.09/libwinpthread-1.dll
utterlyvoice-1.09/log.txt
/utterlyvoice-1.09/recognizer
utterlyvoice-1.09/utterlyvoice.exe
utterlyvoice-1.09/zlib1.dll
utterlyvoice-1.09/config/modes/jargon-wsle.yaml